<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JNotificationCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A65A3061B9DFD7100A37FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A65A3101B9DFD7100A37FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5199791315B1F92B003AFC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
